.post {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 25px;
    -webkit-box-shadow: 0 0 14px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 14px rgba(202, 203, 204, .5);
}

.footer {
    background: #f5f5f5;
    color: #666;
}
.footer-inner {
    text-align: left;
    box-sizing: border-box;
    margin: 0 auto;
    }
